.ly-company-contact {
  & .contact {
    @extend %big-tb;
    @extend %big-lr;

    & h2 {
      @extend %small-tb;
    }
  }
}

.ly-company-team {
  @extend %big-tb;
  @extend %big-lr;

  & h2 {
    @extend %small-tb;
  }

  & ul {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    & li {
      text-align: center;
    }
  }
}

.signo-slider-timeline {
  border-top: 1px solid black;

  & > div > div {
    background: url(../img/timeline-marker.svg);
    background-repeat: no-repeat;
    background-position: top left 1rem;
  }
}

.ly-company-about {
  @extend %big-tb;
  @extend %big-lr;

  & h2 {
    @extend %small-tb;
  }
}

.ly-company-timeline {
  & h2 {
    @extend %big-tb;
    @extend %big-lr;
  }

  & .year {
    padding: 1rem;

    & h3 {
      @extend %tiny-tb;
      @extend %text-title;
    }
  }
}
