footer.main {
  @extend %big-lr;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 2rem 0 0 0;
  background-color: lightgray;

  & h1 {
    text-align: center;
    & img {
      max-width: 10rem;
    }
  }

  & ul.ly-footer-main-nav {
    @extend %text-headline;
  }

  & ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  & .legal {
    @extend %big-lr;
    text-align: center;
    padding: 2rem 0;

    & p {
      font-size: 0.85rem;
    }

    & img {
      margin: 1rem auto;
      max-width: 10rem;
      display: block;

      &:last-child {
        max-width: 8rem;
      }
    }
  }

  /* 
  .ly-footer-main-nav
  .ly-footer-secondary-nav 
  .ly-footer-extra
  .legal
  
  */

  @media (--medium) {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;

    & h1 {
      text-align: left;
      width: 25%;
      border-bottom: 1px solid black;
    }

    & .ly-footer-main-nav {
      width: 75%;
      margin-top: 0;
      align-items: flex-end;
      text-align: right;
      padding-bottom: 2rem;

      border-bottom: 1px solid black;
    }

    & .ly-footer-secondary-nav {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;

      & li {
        margin: 0.5rem 1rem;
      }
    }

    & .ly-footer-extra {
      width: 100%;
      justify-content: center;
      margin-bottom: 2rem;

      & li {
        @extend %small-tb;
      }
    }

    & .legal {
      margin: 1rem auto 0 auto;
    }
  }
}

footer.legal {
  display: flex;
  justify-content: center;
  padding: 1rem;

  & img {
    max-width: 100%;
  }
}
