.ly-company-frontpage {
  @extend %big-tb;
  @extend %text-negative;

  & header {
    @extend %big-lr;
    display: flex;
    flex-direction: column;

    & figure {
      order: -1;
      @extend %big-tb;
    }

    & h2 {
      @extend %text-title;
    }

    & p {
      @extend %small-tb;
    }

    & a {
      @extend %small-tb;
      @extend %actionButton-negative;
    }
  }
  @media (--medium) {
    & header {
      flex-direction: row;
      & figure {
        order: initial;
        flex-basis: 50%;
      }

      & .company-info {
        @extend %big-tb;
        margin-right: 4rem;

        flex-basis: calc(50% - 4rem);
      }
    }
  }
}

.ly-block-gallery {
  @extend %big-tb;
  @extend %big-lr;

  & h2 {
    @extend %small-tb;
    @extend %text-title;
  }
}

.ly-cites {
  @extend %big-tb;
  @extend %big-lr;

  & h2 {
    @extend %small-tb;
    @extend %text-title;
  }

  & ul {
    @extend %small-tb;
    & li {
      @extend %small-tb;
      & cite {
        @extend %text-body-bold;
        @extend %tiny-tb;
        display: block;
        font-style: normal;
      }
    }
  }
}

.ly-text-block {
  @extend %big-tb;
  @extend %big-lr;

  @media (--medium) {
    column-count: 2;
  }
}

.ly-slider-wrapper {
  & .arrows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    & button {
      @extend %actionButton;

      & svg {
        display: block;

        & path {
          fill: var(--bright);
        }
      }
    }
  }
}
