.ly-products-list {
  @extend %big-tb;
}

.ly-products-big {
  @extend %big-tb;

  & .product-info {
    @extend %big-tb;
    @extend %big-lr;

    & h2 {
      @extend %text-headline;
    }

    & .description {
      @extend %small-tb;
    }

    & .link {
      @extend %actionButton;
    }
  }

  @media (--medium) {
    & li {
      @extend %small-tb;

      display: grid;
      gap: 1rem;
      grid-template-columns: 0.75fr 1.25fr;

      & figure {
        order: 2;
      }

      & .product-info {
        @extend %small-tb;
      }
    }
  }
}

.ly-product-buy {
  @extend %big-tb;
  @extend %big-lr;

  & h2 {
    @extend %small-tb;
    @extend %text-title;
  }

  & > p {
    @extend %text-headline;
  }

  & .buy-cta {
    order: -1;
    flex-basis: 25%;
    margin-right: 1rem;

    & .price {
      @extend %text-title;
      margin-bottom: 1rem;
    }

    & button {
      @extend %actionButton;
    }
  }
}
