.ly-products-list {
}

.ly-products-big {
  @extend %big-tb;

  & .product-info {
    @extend %big-tb;
    @extend %big-lr;

    & .description {
      @extend %small-tb;
    }

    & .link {
      @extend %actionButton;
    }
  }
}

.ly-product-buy {
  @extend %big-tb;
  @extend %big-lr;

  display: flex;
  & > p {
    @extend %text-headline;
  }

  & .buy-cta {
    order: -1;
    flex-basis: 25%;
    margin-right: 1rem;

    & .price {
      @extend %text-title;
      margin-bottom: 1rem;
    }

    & button {
      @extend %actionButton;
    }
  }
}
