.ly-projects-featured {
  @extend %big-tb;

  & .project {
    & .project-image {
      margin-bottom: 1rem;
    }
    & .project-info {
      @extend %big-lr;

      & h2 {
        margin-bottom: 0.5rem;
        @extend %text-title;
      }
    }
  }
}

.ly-projects-big {
  @extend %big-tb;

  & .project-info {
    @extend %big-tb;
    @extend %big-lr;

    & h2 {
      @extend %text-headline;
    }

    & .client {
      @extend %text-body-bold;
      margin: 0.25rem 0;
    }

    & .description {
      @extend %small-tb;
    }

    & .link {
      @extend %actionButton;
    }
  }

  @media (--medium) {
    & .project {
      @extend %small-tb;

      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;

      &:nth-child(odd) {
        & .project-image {
          order: 2;
        }
      }
    }
  }
}

.ly-projects-list {
  @extend %big-tb;
  @extend %big-lr;

  & > h2 {
    @extend %small-tb;
    @extend %text-title;
  }

  & .project {
    display: flex;

    & h2 {
      @extend %text-headline;
    }

    & .client {
      @extend %text-body-bold;
      @extend %tiny-tb;
    }

    & .project-image {
      flex-basis: 25%;
      margin-right: 1rem;
    }
  }
}

.ly-project-sections {
  @extend %big-tb;
  @extend %big-lr;

  & > li {
    @extend %big-tb;

    &.ly-section-text {
      & h2 {
        text-align: center;
        @extend %small-tb;
        @extend %text-headline;
      }

      @media (--medium) {
        display: flex;

        & h2 {
          text-align: left;
          flex-basis: 30%;
          margin: 0 3rem 0 0;
        }
      }
    }

    &.ly-section-video,
    &.ly-section-image {
      & p {
        @extend %small-tb;
        @extend %text-headline;
        text-align: center;
      }
    }
  }
}
