.ly-services {
  @extend %big-tb;

  & li {
    @extend %big-tb;
    text-align: center;

    & h3 {
      @extend %text-headline;
      @extend %small-tb;
      margin-bottom: 1rem;
    }

    & .service-info {
      padding: 0 0.5rem;
    }
  }

  @media (--medium) {
    & ul {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;

      & li {
        margin: 0;
        display: flex;
        flex-direction: column;

        & figure {
          flex-grow: 1;
        }
      }
    }
  }
}

.ly-service-description {
  @extend %big-tb;
  @extend %big-lr;
}

.ly-service-details {
  @extend %big-tb;
  @extend %big-lr;

  & li {
    @extend %small-tb;

    display: flex;
    flex-wrap: wrap;
    & h2 {
      @extend %text-headline;
      @extend %tiny-tb;
      flex-basis: 100%;
    }

    & figure {
      flex-basis: calc(40% - 1rem);
      margin-right: 1rem;
      margin-top: 0.25rem;
    }

    & p {
      flex-basis: 60%;
    }
  }
}

.ly-service-prices {
  & h2 {
    @extend %small-tb;
    @extend %big-lr;
    @extend %text-title;
  }

  & table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;

    & thead {
      text-align: left;
    }

    & td,
    & th {
      padding: 1rem;
      border-bottom: 1px solid var(--dark);
    }

    & td:first-child,
    & th:first-child {
      padding-left: 2rem;
      font-weight: bold;

      @media (--medium) {
        padding-left: 4rem;
      }
    }
  }
}
