.ly-text-header {
  @extend %big-lr;
  @extend %small-tb;
  display: flex;
  flex-direction: column;

  & h1 {
    display: none;
  }

  & h2 {
    @extend %text-title;
    text-align: center;
    @extend %small-tb;
  }

  & p {
    @extend %text-headline;
    margin-bottom: 0.5rem;
  }
}
