%grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}

%tiny-lr {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  @media (--medium) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

%small-lr {
  margin-left: 1rem;
  margin-right: 1rem;

  @media (--medium) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

%big-lr {
  margin-left: 2rem;
  margin-right: 2rem;

  @media (--medium) {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

%tiny-tb {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

%small-tb {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media (--medium) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

%big-tb {
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media (--medium) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

/* Text */

%text-title {
  font-family: Mukta, sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 36px;
}

%text-headline {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

%text-body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (--medium) {
    font-size: 18px;
    line-height: 22px;
  }
}

%text-body-bold {
  @extend %text-body;
  font-weight: 700;
}

%text-caption {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

%text-caption-bold {
  @extend %text-caption;
  font-weight: 700;
}

%text-negative {
  background: var(--dark);
  color: var(--bright);
}

/* Elements */

%cleanButton {
  border: 0;
  background-color: transparent;
  display: block;
}

%actionButton {
  @extend %cleanButton;
  @extend %text-body-bold;

  padding: 0.5rem 1rem;
  background: var(--dark);
  color: var(--bright);
}

%actionButton-negative {
  @extend %actionButton;
  background: var(--bright);
  color: var(--dark);
}

/* Animations */

%fadeIn {
  animation: fadein 500ms;
}

%slideIn {
  animation: slidein 500ms;
}
